[submodule "src/interventionfeatures/benchmarks/external/MIB"]
	path = src/interventionfeatures/benchmarks/external/MIB
	url = https://github.com/aaronmueller/MIB
[submodule "src/interventionfeatures/benchmarks/external/ravel"]
	path = src/interventionfeatures/benchmarks/external/ravel
	url = https://github.com/explanare/ravel
