[submodule "src/interventionfeatures/benchmarks/external/MIB"]
	path = src/interventionfeatures/benchmarks/external/MIB
	url = https://github.com/aaronmueller/MIB
[submodule "src/interventionfeatures/benchmarks/external/ravel"]
	path = src/interventionfeatures/benchmarks/external/ravel
	url = https://github.com/explanare/ravel
[submodule "writing"]
	path = writing
	url = git@github.com:Lev-Stambler/SensitiveFeaturesP2.git
[submodule "external/open-puffer"]
	path = external/open-puffer
	url = https://github.com/harishsg993010/open-puffer.git
